.nav-container {
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
}

/* .flex {
    display: flex;
    justify-content: space-between;
} */
img,
.pic {
    padding: 5px;
    width: 150px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    gap: 20px;
    color: #f1e9e9;
    font: 18px Oswald, sens-serif;
    background-color: #4b5563;
}

/* .nav-item {
    color: white;
    font-size: 1;
} */

.nav-container,
.navbar {
    height: 80px;
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    list-style: none;
    box-sizing: border-box;
}

.navbar {
    background-color: #1f2937;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
}

/* .home-contect content {
    background-color: #15202c;
    padding: 40px 0px;
}

h1.common-blue main-heding.text-center {
    color: #a3dbdb;
} */

.home {
    background-color: #15202c;
}

.home-contect content {
    background: #15202c;
    /* padding: 40px 0px; */
    padding-top: 100px;
}

/* .common-blue main-heding text-center {
    color: #A3DBDB;
} */

.contect-wrapper {
    color: #A3DBDB;
}

form {
    text-align: center;
}

input,
.roll {
    background: #607c98;
    margin: 5px 0px 10px;
    padding: 13px;
}

select,
#semester {
    color: #000000;
    background: #ffffff;
    margin: 5px 0px 10px;
    padding: 13px;
}